@import url("https://fonts.googleapis.com/css2?family=Comforter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Kaushan+Script&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

header {
  background-color: rgb(53, 77, 105);
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

header img {
  margin-left: 5%;
}

.HR {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 10%;
  margin-top: auto;
  margin-bottom: auto;
  width: 50%;
}

.HR a {
  border-radius: 50%;
  font-family: "Comforter", cursive;
  margin-left: 8%;
  color: black;
  text-decoration: none;
  font-size: 300%;
}

.items {
  background-color: rgba(174, 0, 255, 0.658);
  border-radius: 50%;
  box-shadow: 0 0px 50px rgb(174, 0, 255);
}

.itemsH:hover {
  background-color: rgba(174, 0, 255, 0.658);
  border-radius: 50%;
  box-shadow: 0 0px 50px rgb(174, 0, 255);
  transition: 0.3s;
}

.ghosts {
  background-color: rgba(0, 255, 170, 0.856);
  border-radius: 50%;
  box-shadow: 0 0px 50px rgb(0, 255, 170, 0.856);
}

.ghostsH:hover {
  background-color: rgba(0, 255, 170, 0.856);
  border-radius: 50%;
  box-shadow: 0 0px 50px rgb(0, 255, 170, 0.856);
  transition: 0.3s;
}

.cursed-items {
  background-color: rgba(255, 187, 0, 0.884);
  border-radius: 50%;
  box-shadow: 0 0px 50px rgb(255, 187, 0, 0.884);
}

.cursed-itemsH:hover {
  background-color: rgba(255, 187, 0, 0.884);
  border-radius: 50%;
  box-shadow: 0 0px 50px rgb(255, 187, 0, 0.884);
  transition: 0.3s;
}

main {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 10%;
  column-gap: 10px;
  row-gap: 20px;
}

main a {
  font-size: 80px;
  text-decoration: none;
  color: black;
  font-family: "Comforter", cursive;
  text-align: center;
  transition: 0.3s;
}

main a:hover {
  transition: 0.3s;
  color: darkred;
  font-size: 90px;
}

h3 {
  font-size: 40px;
  font-family: "Kaushan Script";
  text-align: center;
  padding: 10%;
  /*margin: 10%;*/
  color: rgba(34, 61, 107, 0.831);
}

.imgtext {
  background-image: url("phasmophobia7.png");
  background-size: cover;
  height: 600px;
}

/* UV BOX */

.UV-box {
  transition: 0.3s;
  position: relative;
}

.UV-box:hover {
  position: relative;
  background-color: black;
  transition: 0.3s;
}

.UV-box .text {
  position: absolute;
  transform: translate(-50%, -50%);
  opacity: 0;
  left: 50%;
  top: 50%;
  transition: all 0.3s ease;
}

.UV-box .text h1 {
  color: white;
  font-family: "Kaushan Script";
}

.UV-box:hover .text {
  opacity: 1;
}

/* CAMERA BOX */

.Camera-box {
  transition: 0.3s;
  position: relative;
}

.Camera-box:hover {
  position: relative;
  background-color: black;
  transition: 0.3s;
}

.Camera-box .text {
  position: absolute;
  transform: translate(-50%, -50%);
  opacity: 0;
  left: 50%;
  top: 50%;
  transition: all 0.3s ease;
}

.Camera-box .text h1 {
  color: white;
  font-family: "Kaushan Script";
}

.Camera-box:hover .text {
  opacity: 1;
}

/* BOOK BOX */

.Book-box {
  transition: 0.3s;
  position: relative;
}

.Book-box:hover {
  position: relative;
  background-color: black;
  transition: 0.3s;
}

.Book-box .text {
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  left: 50%;
  top: 50%;
  transition: all 0.3s ease;
}

.Book-box .text h1 {
  color: white;
  font-family: "Kaushan Script";
}

.Book-box:hover .text {
  opacity: 1;
}

/* DOTS BOX */

.DOTS-box {
  transition: 0.3s;
  position: relative;
}

.DOTS-box:hover {
  position: relative;
  background-color: black;
  transition: 0.3s;
}

.DOTS-box .text {
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  left: 50%;
  top: 50%;
  transition: all 0.3s ease;
}

.DOTS-box .text h1 {
  color: white;
  font-family: "Kaushan Script";
}

.DOTS-box:hover .text {
  opacity: 1;
}

/* EMF BOX */

.EMF-box {
  transition: 0.3s;
  position: relative;
}

.EMF-box:hover {
  position: relative;
  background-color: black;
  transition: 0.3s;
}

.EMF-box .text {
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  left: 50%;
  top: 50%;
  transition: all 0.3s ease;
}

.EMF-box .text h1 {
  color: white;
  font-family: "Kaushan Script";
}

.EMF-box:hover .text {
  opacity: 1;
}

/* SpiritBox BOX */

.SpiritBox-box {
  transition: 0.3s;
  position: relative;
}

.SpiritBox-box:hover {
  position: relative;
  background-color: black;
  transition: 0.3s;
}

.SpiritBox-box .text {
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  left: 50%;
  top: 50%;
  transition: all 0.3s ease;
}

.SpiritBox-box .text h1 {
  color: white;
  font-family: "Kaushan Script";
}

.SpiritBox-box:hover .text {
  opacity: 1;
}

/* Video BOX */

.Video-box {
  transition: 0.3s;
  position: relative;
}

.Video-box:hover {
  position: relative;
  background-color: black;
  transition: 0.3s;
}

.Video-box .text {
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  left: 50%;
  top: 50%;
  transition: all 0.3s ease;
}

.Video-box .text h1 {
  color: white;
  font-family: "Kaushan Script";
}

.Video-box:hover .text {
  opacity: 1;
}

.items-box img {
  border: solid;
  border-width: 10px;
  border-color: rgba(36, 73, 94, 0.726);
  height: 100%;
  width: 100%;
  transition: 0.3s;
}

.items-box {
  margin: 10px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.UV-box {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.UV:hover {
  border-color: rgba(174, 0, 255, 0.658);
  transition: 0.3s;
}

.Camera-box {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;
}

.Camera:hover {
  border-color: rgba(92, 93, 102, 0.664);
  transition: 0.3s;
}

.Book:hover {
  border-color: rgba(88, 63, 39, 0.658);
  transition: 0.3s;
}

.Book-box {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 5;
}

.DOTS:hover {
  border-color: rgba(43, 255, 0, 0.664);
  transition: 0.3s;
}

.DOTS-box {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.EMF:hover {
  border-color: rgba(255, 0, 21, 0.849);
  transition: 0.3s;
}

.EMF-box {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
}

.SpiritBox:hover {
  border-color: rgba(255, 136, 0, 0.89);
  transition: 0.3s;
}

.SpiritBox-box {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;
}

.Video:hover {
  border-color: rgba(0, 0, 0, 0.877);
  transition: 0.3s;
}

.Video-box {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 5;
}

.cursed-items-box {
  background-color: rgba(9, 30, 58, 0.856);
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 6;
  grid-gap: 20px;
  padding: 5%;
}

.cursed-items-box p {
  color: white;
  grid-column: 2;
  font-family: "Kaushan Script";
  font-size: 30px;
}

.cursed-items-box img {
  width: 200px;
}

.ghost-box {
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  background-color: black;
}

.ghost-heading {
  font-family: "Comforter", cursive;
  font-size: 80px;
  color: maroon;
}

.ghost-heading2 {
  font-family: "Kaushan Script";
  font-size: 50px;
  color: beige;
}

/*
.cursed-items-box {
  background-color: black;
  display: grid;
  grid-gap: 10px;
  padding: 5%;
  grid-template-columns: 1fr 1fr 1fr;
}

.Mirror {
  width: 300px;
  height: 250px;
  grid-column: 1;
  grid-row: 1;
}

.Music {
  width: 300px;
  grid-column: 1;
  grid-row: 2;
}

.Board {
  grid-column: 2;
  grid-row: 3;
}

.Circle {
  width: 300px;
  grid-column: 2;
  grid-row: 2;
}

.Doll {
  height: 250px;
  width: 300px;
  grid-column: 2;
  grid-row: 1;
}

.Cards {
  grid-column: 3/4;
  grid-row: 1/3;
}
*/
.cursed-items-box img {
  border: 10px outset rgba(87, 87, 87, 0.897);
}

button {
  background-color: transparent;
  font-size: 300%;
  font-family: "Kaushan Script";
  border: solid maroon 5px;
  border-radius: 50%;
  transition: 0.3s;
  color: beige;
  margin-top: 4%;
  margin-bottom: 10%;
}

button:hover {
  background-color: maroon;
  transition: 0.3s;
}

.ghost-box-text {
  background-color: black;
  text-align: center;
}
