@import url("https://fonts.googleapis.com/css2?family=Comforter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Kaushan+Script&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

header {
  background-color: rgb(53, 77, 105);
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

header img {
  margin-left: 5%;
}

.HR {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 10%;
  margin-top: auto;
  margin-bottom: auto;
  width: 50%;
}

.HR a {
  border-radius: 50%;
  font-family: "Comforter", cursive;
  margin-left: 8%;
  color: black;
  text-decoration: none;
  font-size: 300%;
}

.items {
  background-color: rgba(174, 0, 255, 0.658);
  border-radius: 50%;
  box-shadow: 0 0px 50px rgb(174, 0, 255);
}

.itemsH:hover {
  background-color: rgba(174, 0, 255, 0.658);
  border-radius: 50%;
  box-shadow: 0 0px 50px rgb(174, 0, 255);
  transition: 0.3s;
}

.ghosts {
  background-color: rgba(0, 255, 170, 0.856);
  border-radius: 50%;
  box-shadow: 0 0px 50px rgb(0, 255, 170, 0.856);
}

.ghostsH:hover {
  background-color: rgba(0, 255, 170, 0.856);
  border-radius: 50%;
  box-shadow: 0 0px 50px rgb(0, 255, 170, 0.856);
  transition: 0.3s;
}

.cursed-items {
  background-color: rgba(255, 187, 0, 0.884);
  border-radius: 50%;
  box-shadow: 0 0px 50px rgb(255, 187, 0, 0.884);
}

.cursed-itemsH:hover {
  background-color: rgba(255, 187, 0, 0.884);
  border-radius: 50%;
  box-shadow: 0 0px 50px rgb(255, 187, 0, 0.884);
  transition: 0.3s;
}

main {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 10%;
  column-gap: 10px;
  row-gap: 20px;
}

main a {
  font-size: 80px;
  font-family: "Comforter", cursive;
  text-align: center;
  transition: 0.3s;
}

main a:hover {
  transition: 0.3s;
  color: darkred;
  font-size: 90px;
}

h3 {
  font-size: 40px;
  font-family: "Kaushan Script";
  text-align: center;
  padding: 10%;
  /*margin: 10%;*/
  color: rgba(34, 61, 107, 0.831);
}

.imgtext {
  background-image: url("phasmophobia7.png");
  background-size: cover;
  height: 600px;
}
