@import url("https://fonts.googleapis.com/css2?family=Comforter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Kaushan+Script&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

header {
  background-color: rgb(53, 77, 105);
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

header img {
  margin-left: 5%;
}

.HR {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 10%;
  margin-top: auto;
  margin-bottom: auto;
  width: 50%;
}

.HR a {
  border-radius: 50%;
  font-family: "Comforter", cursive;
  margin-left: 8%;
  color: black;
  text-decoration: none;
  font-size: 300%;
}

.items {
  background-color: rgba(174, 0, 255, 0.658);
  border-radius: 50%;
  box-shadow: 0 0px 50px rgb(174, 0, 255);
}

.itemsH:hover {
  background-color: rgba(174, 0, 255, 0.658);
  border-radius: 50%;
  box-shadow: 0 0px 50px rgb(174, 0, 255);
  transition: 0.3s;
}

.ghosts {
  background-color: rgba(0, 255, 170, 0.856);
  border-radius: 50%;
  box-shadow: 0 0px 50px rgb(0, 255, 170, 0.856);
}

.ghostsH:hover {
  background-color: rgba(0, 255, 170, 0.856);
  border-radius: 50%;
  box-shadow: 0 0px 50px rgb(0, 255, 170, 0.856);
  transition: 0.3s;
}

.cursed-items {
  background-color: rgba(255, 187, 0, 0.884);
  border-radius: 50%;
  box-shadow: 0 0px 50px rgb(255, 187, 0, 0.884);
}

.cursed-itemsH:hover {
  background-color: rgba(255, 187, 0, 0.884);
  border-radius: 50%;
  box-shadow: 0 0px 50px rgb(255, 187, 0, 0.884);
  transition: 0.3s;
}

main {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 10%;
  column-gap: 10px;
  row-gap: 20px;
}

main a {
  font-size: 80px;
  text-decoration: none;
  color: black;
  font-family: "Comforter", cursive;
  text-align: center;
  transition: 0.3s;
}

main a:hover {
  transition: 0.3s;
  color: darkred;
  font-size: 90px;
}

h3 {
  font-size: 40px;
  font-family: "Kaushan Script";
  text-align: center;
  padding: 10%;
  /*margin: 10%;*/
  color: rgba(34, 61, 107, 0.831);
}

.imgtext {
  background-image: url("phasmophobia7.png");
  background-size: cover;
  height: 600px;
}

.items-box img {
  border: solid;
  border-width: 10px;
  border-color: rgba(36, 73, 94, 0.726);
  margin: 2%;
  height: 250px;
  align-self: center;
  transition: 0.3s;
}

.items-box {
  width: 100%;
  justify-content: space-evenly;
}

.UV:hover {
  border-color: rgba(174, 0, 255, 0.658);
  transition: 0.3s;
}

.Camera:hover {
  border-color: rgba(92, 93, 102, 0.664);
  transition: 0.3s;
}

.Book:hover {
  border-color: rgba(88, 63, 39, 0.658);
  transition: 0.3s;
}

.DOTS:hover {
  border-color: rgba(43, 255, 0, 0.664);
  transition: 0.3s;
}

.EMF:hover {
  border-color: rgba(255, 0, 21, 0.849);
  transition: 0.3s;
}

.SpiritBox:hover {
  border-color: rgba(255, 136, 0, 0.89);
  transition: 0.3s;
}

.Video:hover {
  border-color: rgba(0, 0, 0, 0.877);
  transition: 0.3s;
}

.cursed-items-box {
  background-color: black;
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 6;
  grid-gap: 20px;
  padding: 5%;
}

.cursed-items-box p {
  color: white;
  grid-column: 2;
  font-family: "Kaushan Script";
  font-size: 30px;
}

.cursed-items-box img {
  width: 200px;
}
/*
.cursed-items-box {
  background-color: black;
  display: grid;
  grid-gap: 10px;
  padding: 5%;
  grid-template-columns: 1fr 1fr 1fr;
}

.Mirror {
  width: 300px;
  height: 250px;
  grid-column: 1;
  grid-row: 1;
}

.Music {
  width: 300px;
  grid-column: 1;
  grid-row: 2;
}

.Board {
  grid-column: 2;
  grid-row: 3;
}

.Circle {
  width: 300px;
  grid-column: 2;
  grid-row: 2;
}

.Doll {
  height: 250px;
  width: 300px;
  grid-column: 2;
  grid-row: 1;
}

.Cards {
  grid-column: 3/4;
  grid-row: 1/3;
}
*/
.cursed-items-box img {
  border: 10px outset rgba(58, 44, 17, 0.897);
}
